path {
  fill: #e5c37b;
  stroke: #ac6737;
  stroke-opacity: 0.3;
  // transition: fill .05s ease-in;
}

svg {
  background-color: #f5f4f4;
}

title {
  color: red;
  background-color: white;
}

.tooltip {
  color: pink;
}
.visited {
  fill: #c1c1c1;
}

.country:hover {
  fill: red;
}

body {
  background-color: #f5f4f4;
}
