body {
  font-family: 'Permanent Marker', cursive;
  background-color: #f5f4f4;
}

path {
  fill: #e5c37b;
  stroke: #ac6737;
  stroke-opacity: 0.3;
  // transition: fill .05s ease-in;
}

input {
  font-family: 'Permanent Marker', cursive;
}

button {
  font-family: 'Permanent Marker', cursive;
}

svg {
  background-color: #f5f4f4;
}

#topBar {
  display: flex;
  width: 100%;
}

.visited {
  fill: #c1c1c1;
}

.country:hover {
  fill: red;
}
